footer.footer-container {
    background: #003b6d;     
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    width: 100%;
    margin-top: auto;
} 

.footer-links {
    display: flex;
    justify-content: center;      
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}


.footer-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-copy {
    font-size: 0.9rem;
    opacity: 0.9;
}
